body {
  font-family: "Koulen", "Noto Sans Khmer", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(255, 255, 0);
  border-radius: 50px;

  background: #1fa2ff;
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);

  width: 95%;
  padding: 0px 15px;
  margin: auto;
  margin: 10px auto;
}
.logo img {
  width: 60px;
  height: 60px;
  padding: 0px 15px;
}
.logo1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-right: 500px;
}

.nav-link {
  list-style: none;
  display: flex;
  margin-right: 60px;
  font-family: "ADLaM Display", system-ui;
  position: relative;
}

.nav-link a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: yellow;
}

.nav-link li {
  margin-left: 30px;
  font-family: "Koulen", "Noto Sans Khmer", sans-serif;
}

.nav-link a {
  font-family: "ADLaM Display", system-ui;
  position: relative;
  text-decoration: none;
  font-size: 22px;
  color: rgb(10, 10, 10);
  transition: 0.5s;
}

.nav-link .lang-ch {
  margin-left: 5px;
}

.lang-ch select {
  font-family: "ADLaM Display", system-ui;
}

.form-select {
  margin-top: 0px;
  width: 85px;
  height: 30px;
  border: 2px solid rgb(44, 1, 232);
  background: rgba(0, 0, 0, 0.044);
  border-radius: 10px;
  font-family: "ADLaM Display", system-ui;
  font-size: 18px;
}


.nav-bar li.men:hover a {
  color: rgb(255, 15, 227);
  transform: scale(1.1);
  display: inline-block;
}

.footer {
  width: 100%;
  padding-top: 0px;
  text-align: center;
  background-color: #12d8fa;
  color: rgb(130, 127, 127);
}

.menu-toggle{
  display: none;
}


/* ========== title ============ */

.first-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.re {
  line-height: 0.8;
}

.re h1 {
  font-family: "Noto Sans Khmer", sans-serif;
}

.port {
  position: relative;
  display: inline-block;
}

.port::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.re p {
  margin-bottom: 70px;
  text-align: center;
}

.container-title {
  border: 1px dashed black;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 40px;
  overflow: hidden;
}

.first-title span {
  color: rgb(255, 0, 0);
}

.container-title p {
  margin-top: -15px;
  font-size: 12px;
  color: gray;
  margin-bottom: 70px;
}

.container-title img {
  width: 200px;
  padding: 40px 300px 40px 300px;
  margin-bottom: -40px;
}

.button-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 540px;
}

.back button {
  font-family: "Koulen", "Noto Sans Khmer", sans-serif;
  width: 80px;
  height: 30px;
  background-color: #1fa2ff;
  color: white;
  border: 1px solid purple;
  border-radius: 10px;
  cursor: pointer;
}

.back button:hover {
  transform: scale(1.1);
}
